[Unit]
StartLimitBurst=5
StartLimitIntervalSec=300
Description=PteroProtect Unblock Portal
After=network-online.target
Wants=network-online.target

[Service]
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
ReadWritePaths=/pteroprotect /var/lib/pterodactyl /var/www/pterodactyl /dev/shm/pteroprotect /var/log /run /tmp /dev/shm
Type=simple
User=root
Group=root
Environment=DANN_GUARD_HOME=/pteroprotect
WorkingDirectory=/pteroprotect
ExecStart=/usr/bin/python3 /pteroprotect/scripts/unblock_portal.py
Restart=always
RestartSec=3
StandardOutput=append:/pteroprotect/unblock_portal.log
StandardError=append:/pteroprotect/unblock_portal.log

[Install]
WantedBy=multi-user.target
