[Unit]
StartLimitBurst=5
StartLimitIntervalSec=300
Description=PteroProtect Panel Overrides Live Sync
After=network.target

[Service]
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
ReadWritePaths=/pteroprotect /var/lib/pterodactyl /var/www/pterodactyl /dev/shm/pteroprotect /var/log /run /tmp /dev/shm
Type=simple
User=root
Group=root
WorkingDirectory=/pteroprotect
Environment=PANEL_DIR=/var/www/pterodactyl
Environment=OVERRIDES_DIR=/pteroprotect/panel_overrides
Environment=SYNC_SCRIPT=/pteroprotect/scripts/sync_panel_overrides.sh
ExecStart=/pteroprotect/scripts/watch_panel_overrides.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
