[Unit]
StartLimitBurst=5
StartLimitIntervalSec=300
Description=PteroProtect Security Log Watcher
After=network-online.target nginx.service
Wants=network-online.target

[Service]
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true
ReadWritePaths=/pteroprotect /var/lib/pterodactyl /var/www/pterodactyl /dev/shm/pteroprotect /var/log /run /tmp /dev/shm
Type=simple
User=root
Group=root
WorkingDirectory=/pteroprotect
Environment=DANN_CONFIG_PATH=/pteroprotect/config.json
ExecStart=/usr/bin/env python3 /pteroprotect/scripts/security_log_watch.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
